/* Learn How To Use Overflow in CSS */
/* overflow manage content */

div {
    width: 300px;
    height: 150px;
    border: 2px solid black;
    overflow: auto;
    /* overflow: scroll; */
    /* overflow: hidden; */
    /* overflow: visible;     default*/
}