/* Learn How To Use CSS Specificity in CSS */

/* 

    CSS Specificity

    - Inline styles - <header style="color: #000;"><header>
    - IDs - #content
    - Classes, attributes and pseudo-classes - :hover, focus etc.
    - Elements and pseudo-elements - such as h1, div, :before and :after.

*/

#heading {
    color: red;
}

.heading {
    color: green;
}

h1 {
    color: purple;
}